.meal_nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-nav-color);

  height: 60px;
  margin: 0;
  position: fixed;
  color: white;
  z-index: 2;
  width: 100%;
}

.meal_nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 80%;
}

.meal_nav_left {
  color: white;
}

.meal_nav_middle,
.meal_nav_right {
  display: flex;
  gap: 1rem;
}

.meal_nav_content a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  color: white;
}
